<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catalogue</title>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/output.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>

<body>
    <%- include('../common/_header.ejs') %>

    <main>
        <section id="catalogue" class="pt-[65px]">
            <div class="w-[75%] mx-auto">
                <span class="uppercase text-[var(--main-white)] text-[32px] font-bold">Каталог</span>
                <div class="flex flex-row justify-between mt-[25px]">
                    <div class="w-[19.5%] h-fit flex flex-col gap-[25px] justify-start border-r-2 border-r-[var(--main-white)]">
                        <div class="flex flex-col">
                            <span class="capitalize tracking-wide text-[30px] text-[var(--main-white)] font-normal">Категории</span>
                            <div class="flex flex-row gap-[10px] items-center">
                                <div class="size-[25px] bg-transparent border-[1px] border-[var(--main-white)] rounded-[5px]">
                                </div>

                                <span class="font-light text-[26px] text-[var(--main-white)] tracking-wide">Приключения</span>
                            </div>

                            <div class="flex flex-row gap-[10px] items-center">
                                <div class="size-[25px] bg-transparent border-[1px] border-[var(--main-white)] rounded-[5px]">
                                </div>

                                <span class="font-light text-[26px] text-[var(--main-white)] tracking-wide">Мистика</span>
                            </div>

                            <div class="flex flex-row gap-[10px] items-center">
                                <div class="size-[25px] bg-transparent border-[1px] border-[var(--main-white)] rounded-[5px]">
                                </div>

                                <span class="font-light text-[26px] text-[var(--main-white)] tracking-wide">Детектив</span>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <span class="capitalize tracking-wide text-[30px] text-[var(--main-white)] font-normal leading-9">Возрастное ограничение</span>
                            <div class="flex flex-row gap-[10px] items-center mt-[10px]">
                                <div class="size-[25px] bg-transparent border-[1px] border-[var(--main-white)] rounded-[5px]">
                                </div>

                                <span class="font-light text-[26px] text-[var(--main-white)] tracking-wide">18+</span>
                            </div>

                            <div class="flex flex-row gap-[10px] items-center">
                                <div class="size-[25px] bg-transparent border-[1px] border-[var(--main-white)] rounded-[5px]">
                                </div>

                                <span class="font-light text-[26px] text-[var(--main-white)] tracking-wide">16+</span>
                            </div>

                            <div class="flex flex-row gap-[10px] items-center">
                                <div class="size-[25px] bg-transparent border-[1px] border-[var(--main-white)] rounded-[5px]">
                                </div>

                                <span class="font-light text-[26px] text-[var(--main-white)] tracking-wide">12+</span>
                            </div>

                            <div class="flex flex-row gap-[10px] items-center">
                                <div class="size-[25px] bg-transparent border-[1px] border-[var(--main-white)] rounded-[5px]">
                                </div>

                                <span class="font-light text-[26px] text-[var(--main-white)] tracking-wide">6+</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="w-[78%] flex flex-row flex-wrap gap-[15px] justify-between">
                        <% books.forEach(book => { %>
                            <div class="bg-[var(--main-white)] h-[575px] w-[360px] rounded-[30px] p-[40px] flex flex-col gap-[40px]">
                                <div class="flex justify-center">
                                    <a href="book/<%= book.book_id %>"><img src="<%= book.image_path %>" class="object-cover h-[252px] w-[160px]" /></a>
                                </div>
                        
                                <div>
                                    <div>
                                        <span class="block text-xl font-bold text-[var(--main-black)]"><%= book.title %></span>
                                    <span class="block text-xl font-normal text-[var(--main-black)]"><%= book.author %></span>
                                    </div>
                                    <div class="mt-[25px]">
                                        <span class="block text-xl font-bold text-[var(--main-black)] text-end"><%= book.price %> ₽</span>
                                    </div>
                                </div>
                        
                                <div class="w-[175px] h-[52px] bg-[var(--main-dark-brown)] flex flex-row justify-center items-center rounded-[30px] gap-[15px]">
                                    <span class="capitalize text-xl font-normal text-[var(--main-white)] tracking-wider leading-none align-middle text-center">купить</span>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </section>

        <section id="recommendations">
            <div class="w-[89.5%] mt-[120px] mx-auto h-[786px] pt-[100px] pb-[100px] flex flex-row justify-between">
                <div class="w-[33%] flex flex-col gap-[30px]">
                    <span class="capitalize text-7xl font-bold text-[var(--main-white)] tracking-wide">Наши рекомендации</span>
                    <span class="text-[1.4rem] font-normal text-[var(--main-white)] tracking-wide leading-7">
                        Каждый день мы вместе с нашими клиентами читаем, ознакамливаемся с чем-то новым, необычным, дабы расширить свой кругозор и пополнить запас знаний
                    </span>
                </div>

                <div class="w-[63.5%]">

                    <!-- Slider main container -->
                    <div class="swiper mainSwiper size-full">
                        <div class="swiper-wrapper">
                            <% recommended_books.forEach(book => { %>
                                <div class="swiper-slide bg-[var(--main-white)] h-full max-w-[360px] rounded-[30px] p-[40px]">
                                    <div class="size-full flex flex-col justify-between">
                                         <div class="flex justify-center">
                                            <a href="book/<%= book.book_id %>"><img src="<%= book.image_path %>" class="object-cover h-[252px] w-[160px]" /></a>
                                         </div>
                                 
                                         <div>
                                             <div>
                                                 <span class="block text-xl font-bold text-[var(--main-black)]"><%= book.title %></span>
                                             <span class="block text-xl font-normal text-[var(--main-black)]"><%= book.author %></span>
                                             </div>
                                             
                                             <div class="mt-[25px]">
                                                 <span class="block text-xl font-bold text-[var(--main-black)] text-end"><%= book.price %> ₽</span>
                                             </div>
                                         </div>
                                 
                                         <div class="w-[175px] h-[52px] bg-[var(--main-dark-brown)] flex flex-row justify-center items-center rounded-[30px] gap-[15px]">
                                             <span class="capitalize text-xl font-normal text-[var(--main-white)] tracking-wider leading-none align-middle text-center">купить</span>
                                         </div>
                                    </div>
                                 </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../common/_footer_light.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/public/js/swiper.js"></script>
</body>

</html>