<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Админ - Пользователи</title>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/output.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('../../common/_admin_header.ejs'); %>

    <h1 class="mt-[25px] ml-[100px] text-[var(--main-white)] text-3xl font-bold uppercase">Пользователи</h1>

    <main>
        <%- include('../../common/_admin_actions.ejs'); %>

        <section id="content" class="w-full mt-[25px] flex flex-col items-center gap-[25px] mb-[150px]">
            <div class="w-[75%]">
                <div class="w-fit mx-auto">
                    <span id="status-text" class="hidden text-xl font-normal uppercase text-green-500">КАРТОЧКА УСПЕШНО ДОБАВЛЕНА</span>
                </div>

                <div id="edit-section" class="mx-auto grid grid-cols-3 gap-[35px] w-full mt-[25px] h-fit">
                    <% users.forEach(user => { %>
                        <div class="content flex flex-col items-center gap-[20px] w-full p-[15px] box-border bg-[var(--main-white)] rounded-[25px] h-fit">
                            <span class="name text-xl font-semibold text-[var(--main-black)] uppercase"><%= user.name %></span>
                            <input name="id" type="number" required hidden value="<%= user.user_id %>" />
                            <div class="w-full flex flex-row gap-[15px] justify-between h-[40px]">
                                <span class="select-none text-lg font-medium text-[var(--main-black)]">Имя</span>
                                <input name="name" type="text" class="disabled:border-[0px] w-[60%] rounded-[15px] bg-[var(--main-white)] font-normal border border-[var(--main-black)] p-[5px]" placeholder="Имя пользователя..." value="<%= user.name %>" required />
                            </div>
                            <div class="w-full flex flex-row gap-[15px] justify-between h-[40px]">
                                <span class="select-none text-lg font-medium text-[var(--main-black)]">Почта</span>
                                <input name="mail" type="text" class="disabled:border-[0px] w-[60%] rounded-[15px] bg-[var(--main-white)] font-normal border border-[var(--main-black)] p-[5px]" placeholder="Почта пользователя..." value="<%= user.email %>" required />
                            </div>
                            <div class="w-full flex flex-row gap-[15px] justify-between h-[40px]">
                                <span class="select-none text-lg font-medium text-[var(--main-black)]">Пароль</span>
                                <input name="password" type="text" class="disabled:border-[0px] w-[60%] rounded-[15px] bg-[var(--main-white)] font-normal border border-[var(--main-black)] p-[5px]" placeholder="Пароль пользователя..." value="<%= user.password %>" required />
                            </div>
                            <input class="w-[70%] h-[50px] bg-[var(--main-dark-brown)] rounded-[30px] capitalize text-xl font-normal text-[var(--main-white)] tracking-wider leading-none align-middle text-center brown-button disabled:bg-gray-500" type="button" value="Сохранить" />
                        </div>
                    <% }) %>
                </div>

                <div id="delete-section" class="hidden mx-auto grid grid-cols-3 gap-[35px] w-full mt-[25px] h-fit">
                    <% users.forEach(user => { %>
                        <div class="content flex flex-col items-center gap-[20px] w-full p-[15px] box-border bg-[var(--main-white)] rounded-[25px] h-fit">
                            <span class="name text-xl font-semibold text-[var(--main-black)] uppercase"><%= user.name %></span>
                            <input name="id" type="number" required hidden value="<%= user.user_id %>" />
                            <div class="w-full flex flex-row gap-[15px] justify-between h-[40px]">
                                <span class="select-none text-lg font-medium text-[var(--main-black)]">Имя</span>
                                <input name="name" type="text" class="disabled:border-[0px] w-[60%] rounded-[15px] bg-[var(--main-white)] font-normal border border-[var(--main-black)] p-[5px]" placeholder="Имя пользователя..." value="<%= user.name %>" required />
                            </div>
                            <div class="w-full flex flex-row gap-[15px] justify-between h-[40px]">
                                <span class="select-none text-lg font-medium text-[var(--main-black)]">Почта</span>
                                <input name="mail" type="text" class="disabled:border-[0px] w-[60%] rounded-[15px] bg-[var(--main-white)] font-normal border border-[var(--main-black)] p-[5px]" placeholder="Почта пользователя..." value="<%= user.email %>" required />
                            </div>
                            <div class="w-full flex flex-row gap-[15px] justify-between h-[40px]">
                                <span class="select-none text-lg font-medium text-[var(--main-black)]">Пароль</span>
                                <input name="password" type="text" class="disabled:border-[0px] w-[60%] rounded-[15px] bg-[var(--main-white)] font-normal border border-[var(--main-black)] p-[5px]" placeholder="Пароль пользователя..." value="<%= user.password %>" required />
                            </div>
                            <input class="w-[70%] h-[50px] bg-[var(--main-dark-brown)] rounded-[30px] capitalize text-xl font-normal text-[var(--main-white)] tracking-wider leading-none align-middle text-center brown-button disabled:bg-gray-500" type="button" value="Удалить" />
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    </main>

    <script src="/public/js/jq.js"></script>
    <script src="/public/js/admin/section_switch.js"></script>
    <script src="/public/js/admin/users.js"></script>
</body>
</html>